h2 {
    background: #000;
    color:#fff;
    position: sticky;
    top: 10px;
    /* 重点是在结构中。若将父亲块级元素section全注释掉，
    就没有父亲块级元素[父级块]下边缘推你上去了。
    sticky定义[当页面向下滚动]。 */
}

p::before {
    content: '✔';
    color:green;
}

section {
    border-bottom: 1px solid brown;
}